@model DTO.SupportTicketBLLDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create a new support ticket</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label">Description</label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group input-group date">
                <label asp-for="DueTime" class="control-label">Deadline</label>
                <input asp-for="DueTime" class="form-control datetimepicker"  type="text"/>
                <span asp-validation-for="DueTime" class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script>
 $(".datetimepicker").datetimepicker({
     format: 'd/M/Y H:m'
    });</script>
   
}
