﻿/*
*
*     CUSTOM
*
*/

/* NAVBAR */
.custom.navbar {
    display: flex;
    width: 100%;
    background-color: #eaffaa;
}
.custom.navbar-brand {
    color: #2e3322;
}
.custom.navbar-brand:hover {
    color: #5d6644;
}

.custom.container.body-content {
    min-height: 100%;
}

/* FOOTER */

footer.fixed-bottom {
    background-color: #AAC45C;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p.footer-p {
    font-size: 1rem;
    margin-bottom: 0;
}

/* LIST */

.index-list {
    border-right: 15px solid white;
    border-left: 15px solid white;
    background-color: #e9e8ef;
}

.list-heading {
    border-right: 15px solid white;
    border-left: 15px solid white;
    color: whitesmoke;
    background-color: #3581BF;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
}

.index-list-item {
    padding-right: 10px;
}

.index-list-btn {
    padding-left: 10px;
    padding-right: 10px;

}

.index-list-table {
    width: 100%;
    min-height: 100px;
    border: 1px solid;
}
tr {
    border-bottom: 1px solid;
}
th {
    border-right: 1px solid;
}
img {
    width: 30px;
    height: 30px;

}