﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Customer Support Tickets system</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/custom.css" type="text/css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
        <link rel="stylesheet" href="~/css/jquery-ui.structure.css" />
        <link rel="stylesheet" href="~/css/jquery.datetimepicker.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
        <link rel="stylesheet" href="~/css/jquery-ui.structure.css" />
        <link rel="stylesheet" href="~/css/jquery.datetimepicker.css" />
    </environment>

    @RenderSection("Styles", false)
</head>
<body>
    <nav class="custom navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a asp-area="" asp-controller="Tickets" asp-action="Index" class="custom navbar-brand">CS Ticket system</a>
            </div>
        </div>
    </nav>

    <div class="custom container body-content">
        @RenderBody()
    </div>

    <footer class="fixed-bottom">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h5>Lorem ipsum</h5>
                <h6>Dolor sit amet</h6>
                <h6>Consectetur adipiscing elit</h6>
                <h6>Sed do eiusmod</h6>
                <h6>Tempor incididunt</h6>
            </div>
            <div class="col-md-6 col-sm-6">
                <h5>Kontakt</h5>
                <p class="footer-p">Tallinn</p>
                <p class="footer-p">Akadeemia Tee 7/2 216A</p>
                <p class="footer-p">+372 56937010</p>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery.datetimepicker.full.js"></script>
        <script src="~/lib/jquery-ui.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://github.com/xdan/datetimepicker/blob/master/build/jquery.datetimepicker.full.js"
                asp-fallback-src="~/lib/jquery.datetimepicker.full.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ui.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
